html, body, div, span, img,
a, fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input, ul {margin:0 0 0 0; padding: 0 0 0 0; }

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table#sheet0 td.column1 {padding-left: 5px;}
table.table {margin: 0 auto;position: relative;width:100%;overflow: auto;}
table.sheet0 tr.row8 td {font-size:10pt;}
table.table tr {border-left:none;border-right:none;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
table.table td {border:none !important;    color: #525252;font-size:16px;}
table.table td.column0 {font-size:10pt;}
@media screen and (max-width: 600px) {
    table.sheet0 tr.row8 td {font-size:8pt;}
    table.table tr {border-left:1px solid #ddd;border-right: 1px solid #ddd;}
    table.table tr td {font-size:10px;}
    table#sheet0 { max-width: 95% !important;
    margin: 0 auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    display: block;}
 table#sheet0 tbody   {    margin: 0 auto;
    max-width: 100%;
    overflow-x: scroll;}
    ::-webkit-scrollbar {
            width: 5px;
        }
        
        table#sheet0 tr {padding-top: 5px;}
}