body{
	font-family:'Play';
	background:#fff;
	font-size:15px;
}
.container{
	width:960px;
	margin:0 auto;
}
.container h2{
font-weight:300;
margin-top:5px;
    color: #ff8f00;
}
.left{
	float:left;
	width:600px;
	padding:0px 15px;
}.right{
	float:right;
	width:330px;
}
.col-md-2{
	width:50%;
	float:left;
}
.clearfix{
	clear:both;
}
.form-control{
	height:27px;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin-left:5px;
	padding:0px 5px;
}
.right span{
	float:left;
	display:inline-block;
	text-align:center;
	margin-right:21px;
}
.right span{
	color: #009fff;
}
.right span a{
	color:#222!important;
	font-size:13px;
	text-decoration:none!important;
}
.right span span{
    color: #222!important;
    font-size: 13px;
    text-decoration: none!important;
    margin-right: 0px;
    cursor: pointer;
}
hr{
	border-top:1px solid #e3e3e3;
}
.prew{
	float:right;
	width:68px;
}
.constructor{
    float: left;
    width: 497px;
    margin: 10px;
    text-align: center;
    height: 388px;
	position: relative;
	top:40px;
}
#slider-vertical{
	float:left;
	width:12px;
}
.prew span{
	display:block;
	cursor:pointer;
}
.prew img{
	width:65px;
}
.right h3{
	font-weight:300;
}
.right ul{
	margin:0px;
	list-style:none;
	font-size:12px;
}
.right ul li{
	display:block;
	text-align:center;
	float:left;
	margin-right:10px;
	color:#222;
	width:60px;
	height:30px;
	padding:10px 0px;
	border:1px solid #e3e3e3;
	cursor:pointer;
	
}
.no{
	color:red!important;
}
.light{
	background:url('../img/c1.png');
	color:#fff!important;
}.black{
	background:url('../img/c2.png');
	color:#fff!important;
}
.acti{border:1px solid #009fff;}
.act{border:1px solid #009fff!important;}
.ot{
position: absolute;
    top: 0;
	text-align:center;
	width:100%;
}.nal{
position: absolute;
    top: 0;
	text-align:center;
	width:100%;
}
.pod{
position: absolute;
    bottom: 0;
	text-align:center;
	width:100%;
}
.f1{
	position: relative;
    top: 17px;
    left: 0px;
}
.f12{
	position: relative;
    top: 2px;
    left: 0px;
}.f13{
	    position: relative;
    top: -7px;
    left: 0px;
}
.f2{
	position: relative;
    top: 17px;
    left: -2px;
}
.f22{
	position: relative;
    top: 1px;
    left: -4px;
}
.f23{
	     position: relative;
    top: -6px;
    left: -5px;
}
.f3{
	position: relative;
    left: 0px;
}
.f4{
	position: relative;
    left: 0px;
}
.name{
	width: 300px;
    padding: 5px 10px;
    background: #efecec;
}.name1{
	width: 100px;
    padding: 5px 10px;
    background: #efecec;
}
table{
	    width: 100%;
}
.bb1{
    border:1px solid #D3D3D3;
    border-radius:6px;
    box-sizing:border-box;
    font-family:inherit;
    font-size:11px;
    padding:10px 8px;
    color:#7C7C7C;
}
.bb2{

    box-sizing:border-box;
    margin-left: 190px;
    font-family:inherit;
    margin-top: -15px;
    color:#7C7C7C;
}
.bb3{
    border:1px solid #D3D3D3;
    border-radius:6px;
    box-sizing:border-box;
    font-family:inherit;
    font-size:15px;
    padding:10px 8px;
    background-color: #24B419;
    color: white;
    width: 220px;
}

.bb4 {
    border:1px solid #D3D3D3;
    border-radius:6px;
    box-sizing:border-box;
    font-family:inherit;
    font-size:15px;
    padding: 10px 10px 10px 10px ;
    color:#7C7C7C;
    width: 220px;
    height: 100px;
}
#popup {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1000000;
    background: rgba(0,0,0,0.7);
}
#popup form {
    font-size: 11px;
    position: absolute;
    top: 50%; left: 50%;
    -ms-transform: translate(-50%, -50%); -webkit-transform: 
        translate(-50%, -50%); transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    color:#000;
    background: #fff;
    border-radius: 10px;
    width: 240px;
    padding: 10px 10px 10px 10px ;
}
.order{
    background: #009fff;;
    color: #fff;
    font-size: 17px;
    border: none!important;
    outline: none!important;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-ico {display:inline-block; min-width:70px; text-align:center; cursor:pointer}
	.header-ico i {color:#009fff}
		.send-ico{    top: -4px; position: relative;}

.wall-style{ position: absolute;top: -39px;left: 0px; width: 100%; height: 460px;}

.ugol1 {background-image:url(../img/urol.png); background-size:100% 100%}
.ugol2 {background-image:url(../img/fugol.png); background-size:100% 100%}
.ugol3 {background-image:url(../img/revik.png); background-size:100% 100%}
.cso img { position: absolute; z-index: 50000;}

.cs-nal-r {display:none}

.cso1 .cs-nal{top: -20px;left: 68px;width: 362px;height: 382px;z-index: 150000;}
.cso1 .cs-okn{top: 11px;left: 94px;width: 311px;height: 332px;}
.cso1 .cs-pod{top: 341px;left: 40px;width: 420px;height: 55px;z-index: 250000;}
.cso1 .cs-otk{top: -19px;left: 69px;width: 361px;height: 377px;}
.cso1 .cs-nal-r {top: -29px;left: 59px;width: 379px;height: 389px;}


.cso2 .cs-nal{top: -14px;left: 60px;width: 379px;height: 373px;z-index: 150000;}
.cso2 .cs-okn{top: 13px;left: 87px;width: 327px;height: 333px;}
.cso2 .cs-pod{top: 346px;left: 28px;width: 445px;height: 50px;z-index: 150000;}
.cso2 .cs-otk{top: -15px;left: 61px;width: 378px;height: 374px;}
.cso2 .cs-nal-r {top: -25px;left: 50px;width: 400px;height: 393px;}

.cso3 .cs-nal{top: -17px;left: 77px;width: 342px;height: 402px; z-index: 150000;}
.cso3 .cs-okn{top: 13px;left: 101px;width: 294px;height: 340px;}
.cso3 .cs-pod{top: 228px;left: 62px;width: 183px;height: 26px;z-index: 250000;}
.cso3 .cs-otk{top: -16px;left: 78px;width: 341px;height: 393px;}
.cso3 .cs-por{top: 352px;left: 216px;width: 204px;height: 17px;z-index: 250000;}
.cso3 .cs-nal-r{top: -29px;left: 69px; width: 359px; height: 453px;}

.cso4 .cs-nal{top: -16px;left: 145px;width: 210px;height: 393px;z-index: 150000;}
.cso4 .cs-okn{top: 13px;left: 169px;width: 160px;height: 346px;}
.cso4 .cs-otk{top: -16px;left: 145px;width: 208px;height: 385px;}
.cso4 .cs-pod{top: 358px;left: 144px;width: 212px;height: 19px;z-index: 250000;}

.cso4 .cs-nal-r{top: -28px;left: 134px;width: 231px; height: 405px;}


.wrapper1 {margin-bottom:9px; overflow:hidden}

.t1 {background: url(../img/pod/t1.png);color: #000!important;}
.t2 {background: url(../img/pod/t2.png);color: #000!important;}
.t3 {background: url(../img/pod/t3.png);color: #000!important;}
.t4 {background: url(../img/pod/t4.png);color: #000!important;}
.t5 {background: url(../img/pod/t5.png);color: #000!important;}
.t6 {background: url(../img/pod/t6.png);color: #000!important;}
.t7 {background: url(../img/pod/t7.png);color: #000!important;}
.t8 {background: url(../img/pod/t8.png);color: #000!important;}
.t9 {background: url(../img/pod/t9.png);color: #fff!important;}
.t10 {background: url(../img/pod/t10.png);color: #000!important;}
.t11 {background: url(../img/pod/t11.png);color: #000!important;}
.t12 {background: url(../img/pod/t12.png);color: #fff!important;}
.t13 {background: url(../img/pod/t13.png);color: #fff!important;}
.t14 {background: url(../img/pod/t14.png);color: #fff!important;}
.t15 {background: url(../img/pod/t15.png);color: #000!important;}
.t16 {background: url(../img/pod/t16.png);color: #000!important;}


/*Уведомления*/
@-webkit-keyframes complblock { 0% {opacity:0.9;} 50% {opacity:0.9;} 100%{opacity:0;}}
@-moz-keyframes complblock { 0% {opacity:0.9;} 50% {opacity:0.9;} 100%{opacity:0;}}
@-o-keyframes complblock { 0% {opacity:0.9;} 50% {opacity:0.9;} 100%{opacity:0;}}
@-ms-keyframes complblock { 0% {opacity:0.9;} 50% {opacity:0.9;} 100%{opacity:0;}}
@keyframes complblock { 0% {opacity:0.9;} 50% {opacity:0.9;} 100%{opacity:0;}}

.colorBlockOut {font-size: 18px;letter-spacing: 0;width: 220px; padding:30px; opacity:0.9; border-radius:10px; text-align:center; position:fixed; bottom:20px; right:20px; background-color:#2a47a5; animation: complblock 4s linear both; color:#fff}		


.no-float {float:none !important;position: relative;top: 100px;}

.send-gif {display:none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: RGBA(255,255,255,0.8);z-index: 5000000;}
	.sg-in {display: flex;width: 100%;height: 100%;}
		.sg-flex-in {margin:auto;}



