<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base  />
	<link rel="stylesheet" href="assets/template/okno/templates/css/jquery.fancybox.css" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="viewport" content="width=device-width">
	<link type="text/css" rel="stylesheet" href="assets/template/okno/templates/css/styles.less-1352812732.css" />
	<link type="text/css" rel="stylesheet" href="assets/template/okno/templates/css/ver2.less-1345553457.css" />
	<script src="assets/template/okno/templates/js/libs/modernizr-2.5.3.min.js"></script>
	<script src="../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/template/okno/templates/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="assets/template/okno/templates/js/libs/jquery.form.js"></script>
	<link type="text/css" rel="stylesheet" href="assets/template/okno/templates/css/calc.css" />
	
	
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
		$('.boom5').change(function(){
		$('#otliv2').val($('#totalotli').text());
		$('#otkos2').val($('#totalotkos').text());
		$('#laminat2').val($('#totallaminat').text());
		$('#moskitnay2').val($('#totalmaskit').text());
		$('#podokonnik2').val($('#totalpodok').text());
		$('#itogo2').val($('#summartotal').text());
		$('#prof2').val($('#totalprof').text());
		$('#stekol2').val($('#totalsteklo').text());
		$('#instal2').val($('#totalinstall').text());
		$('#dvery2').val($('#totaldoor').text());
		
		$('#regul1').val($('#b-slider-ico_1').text());
		$('#regul2').val($('#b-slider-ico_2').text());
		$('#regul3').val($('#b-slider-ico_3').text());
		$('#regul4').val($('#b-slider-ico_4').text());
		
		})
		})
	</script>
</head>
<body data-spy="scroll"  >

<div class="container">
	<form id="confform" class="boom5 form-ajax form" action="../send.php" method="post" >
		<div class="l-inner">
			 <!-- Слайдеры -->
			 <div id="fourcolbar"><div class="l-fixed">
				 <div class="fourcol">
					 <div class="b-slider-wrap2">
						 <div id="b-slider_1" class="b-slider" data-original-title="Описание">
							 <input name="energy_save" type="hidden" value="1">
							 <div class="b-slider-ico" id="b-slider-ico_1"></div>
							 <div class="b-slider-text">Энергосбережение</div>
							 <div class="b-slider-rul"></div>
						 </div>
					 </div>
				 </div>
				 <div class="fourcol">
					 <div class="b-slider-wrap2">
						 <div id="b-slider_2" class="b-slider" data-original-title="Описание">
							 <input name="sun_guard" type="hidden" value="1">
							 <div class="b-slider-ico" id="b-slider-ico_2"></div>
							 <div class="b-slider-text">Солнцезащита</div>
							 <div class="b-slider-rul"></div>
						 </div>
					 </div>
				 </div>
				 <div class="fourcol">
					 <div class="b-slider-wrap2">
						 <div id="b-slider_3" class="b-slider" data-original-title="Описание">
							 <input name="sound_isolation" type="hidden" value="1">
							 <div class="b-slider-ico" id="b-slider-ico_3"></div>
							 <div class="b-slider-text">Шумоизоляция</div>
							 <div class="b-slider-rul"></div>
						 </div>
					 </div>
				 </div>
				 <div class="fourcol" style="width:22%;">
					 <div class="b-slider-wrap2">
						 <div id="b-slider_4" class="b-slider" data-original-title="Описание">
							 <input name="safety" type="hidden" value="1">
							 <div class="b-slider-ico" id="b-slider-ico_4"></div>
							 <div class="b-slider-text">Безопасность</div>
							 <div class="b-slider-rul"></div>
						 </div>
					 </div>
				 </div>
				</div>
			 </div>
			 
			 
			 <!-- _Слайдеры -->
			 <!-- Свойства окна -->
			 <div id="propbar">
				 <div class="l-fixed">
					 <h1 style="margin-bottom: 100px;">СВОЙСТВА СТЕКЛОПАКЕТОВ</h1>
					 <br><br><br>
					 
					 
					 
					 <!-- Описание сборки -->
					 <div id="lconfbar">
						 <h2 id="lconname"></h2>
						 <ul class="nav-tabs">
							 <li class="active" style="width:61px;"><a href="#lcon1" data-toggle="tab">Обзор</a></li>
							 <li style="width:163px;"><a href="#lcon2" data-toggle="tab">Тех. характеристики</a></li>
							 <li style="width:104px;"><a href="#lcon3" data-toggle="tab">Применение</a></li>
						 </ul>
						 <div class="clear"></div>
						 <div class="tab-content">
							 <div class="tab-pane active" id="lcon1"></div>
							 <div class="tab-pane" id="lcon2"></div>
							 <div class="tab-pane" id="lcon3"></div>
						 </div>
						 <div class="noted" id="lpricebar"><div class="notedIn">
							 <!-- <div class="rbutton button"><div><a href="#" onclick="return f_getprof_show(event,this,0);"><span class="i_dimen">Вызвать инженера</span></a></div></div> -->
							 <big>Стоимость за 1М<sup>2</sup></big>
							 <small>с доставкой и установкой</small>
							 <div class="price"><strong id="lconprice">0</strong> Руб.-</div>
						 </div></div>
					 </div>
					 <!-- _Описание сборки -->
					 <!-- Макет стекла -->
					 <div id="lsandbar">
						 <div id="lsandArr"></div>
						 <div id="lsand1" class="">
							 <div class="lsand_h" data-original-title="Стёкла LUX имеют повышенный уровень безопасности, в 3 раза превышающий все существующие аналоги стёкол."></div>
						 </div>
						 <div id="lsand2" class="">
							 <div class="lsand_h" data-original-title="Стёкла LUX имеют повышенный уровень безопасности, в 3 раза превышающий все существующие аналоги стёкол."></div>
						 </div>
						 <div id="lsand3" class="">
							 <div class="lsand_h" data-original-title="Стёкла LUX имеют повышенный уровень безопасности, в 3 раза превышающий все существующие аналоги стёкол."></div>
						 </div>
						 <div id="lsand4" class="">
							 <div class="lsand_h" data-original-title="Стёкла LUX имеют повышенный уровень безопасности, в 3 раза превышающий все существующие аналоги стёкол."></div>
						 </div>
						 <div id="lsand5" class="">
							 <div class="lsand_h" data-original-title="Стёкла LUX имеют повышенный уровень безопасности, в 3 раза превышающий все существующие аналоги стёкол."></div>
						 </div>
					 </div>
					 <!-- _Макет стекла -->
					 <div class="clear"></div>
					 <br>
					 <div style="text-align:center;">
						 <div class="dbutton button"><a href="#typebar" class="scrollto">Следующий шаг</a></div>
					 </div>
				 </div>
			 </div>
			 <!-- _Свойства окна -->
			 <!-- Тип и размер окна -->
			 <div id="typebar" >
				 <div class="l-fixed">
					 <h1>Тип и размер окна</h1>
					 <hr>
					  <ul id="menu">
						<li><p><input name="paket" id="radioko" type="radio" style="width:30px;height:30px;" value="Однокамерный" checked><span>Однокамерный</span></p></li>
						<li><p><input name="paket" id="radioko" type="radio" style="width:30px;height:30px;" value="Двухкамерный"><span>Двухкамерный</span></p></li>
					</ul>
					<br>
					 <table id="wndtbl">
						 <tr>
							 <td id="wndtbl_l">
								 <div id="wndtypebar">
									 <input id="wndtypeinp" name="type" type="hidden" value="22">
									 <div class="wndtype" id="wndtype_1">
										 <div class="wndtype_selO"><div class="wndtype_sel"></div></div>
										 <div class="tooltip right tooltip2">
											 <div class="tooltip-arrow"></div>
											 <div class="tooltip-inner">
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
											 </div>
										 </div>
									 </div>
									 <br>
									 <div class="wndtype" id="wndtype_2">
										 <div class="wndtype_selO"><div class="wndtype_sel"></div></div>
										 <div class="tooltip right tooltip2">
											 <div class="tooltip-arrow"></div>
											 <div class="tooltip-inner">
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
											 </div>
										 </div>
									 </div>
									 <br>
									 <div class="wndtype" id="wndtype_3">
										 <div class="wndtype_selO"><div class="wndtype_sel"></div></div>
										 <div class="tooltip right tooltip2">
											 <div class="tooltip-arrow"></div>
											 <div class="tooltip-inner">
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
											 </div>
										 </div>
									 </div>
									 <br>
									 <div class="wndtype" id="wndtype_4">
										 <div class="wndtype_selO"><div class="wndtype_sel"></div></div>
										 <div class="tooltip right tooltip2">
											 <div class="tooltip-arrow"></div>
											 <div class="tooltip-inner">
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
											 </div>
										 </div>
									 </div>
									 <br>
									 <div class="wndtype" id="wndtype_5">
										 <div class="wndtype_selO"><div class="wndtype_sel"></div></div>
										 <div class="tooltip right tooltip2">
											 <div class="tooltip-arrow"></div>
											 <div class="tooltip-inner">
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
												 <span></span>
											 </div>
										 </div>
									 </div>
								 </div>
								 
								 <div class="wndtype" id="wndtype_6"><div class="wndtype_sel" ></div></div>
							 </td>
							<td id="wndtbl_c" style="width: 626px;">
								 <div id="wndtw" class="wndtw11 wndtw1-1">
									 <div id="wndtw_b"><div id="wndtw_bIn"></div></div>
									 <div id="wndtw_r"><div id="wndtw_rIn"></div></div>
								 </div>
								 <input id="wndsize1" name="width" type="hidden" value="1000" />
								 <input id="wndsize2" name="height" type="hidden" value="1000" />
							 </td>
							 <td id="wndtbl_r">
							 
							<!-- Параметры окна -->
								<div id="wndparsbar" class="noted">
									<div class="notedIn">
										<h3>УСТАНОВКА:</h3>
										<div class="spacer">
											<select class="select" id="wndopt_houseType" name="house_type">
												 <option value="">Тип вашего дома</option>
												 <option value="Монолитный">Монолитный</option>
												 <option value="Панельный">Панельный</option>
												 <option value="Кирпичный">Кирпичный</option>
												 <option value="Сталинский">Сталинский</option>
												 <option value="Коттедж">Коттедж</option>
											 </select>
										</div>
										 <h3>ОПЦИИ:</h3>
										<div class="spacer"><input class="input-checkbox" id="wndopt_innserSill" type="checkbox" name="podokonnik" value="Да"/><label for="wndopt_innserSill"> &nbsp;Подоконник</label></div>
										<div class="spacer"><input class="input-checkbox" id="wndopt_outerSill" type="checkbox" name="otliv" value="Да"/> <label for="wndopt_outerSill">&nbsp;Отлив</label></div>
										<div class="spacer"><input class="input-checkbox" id="wndopt_jambHead" type="checkbox" name="otkosy" value="Да"/><label for="wndopt_jambHead"> &nbsp;Откосы</label></div>
										<div class="spacer"><input id="wndopt_frameColor" name="laminat" type="hidden" value="Без ламинации">
										 <span id="frameColorM"><span></span></span> <span id="frameColorM_lbl" class="lbl">&nbsp;Ламинация</span></div>
										<div class="spacer"><input class="input-checkbox" id="wndopt_mosquitoNets" type="checkbox" name="moskitnaya_setka" value="Да"/><label for="wndopt_mosquitoNets"> &nbsp;Москитная сетка</label></div>
									 </div>
								 </div>
								 <div data-framescnt="14" id="frameColorBar" class="tooltip tooltip2"><span class="tooltip_x"></span><div class="tooltip-inner"></div></div>
								 <div class="noted" id="lpricebar2">
									 <div class="notedIn">
										<div id="sizeerrmess">Слишком большой размер окна. Попробуйте уменьшить высоту или&nbsp;ширину.</div>
										<div id="sizeokmess">
											<big>Получить расчет</big>
											 <small>с доставкой и установкой</small>
										</div>
										<div class="price" style="margin-top: 32px;"><strong id="summartotal">0</strong><span id="lconprice2add"> Руб.-</span></div>
										<!-- <div class="rbutton button"><div><a href="#" onclick="return f_getprof_show(event,this,0);"><span class="i_dimen">Получить расчет</span></a></div></div> -->
									 </div>
								 </div>
							<!-- _Параметры окна -->
							 </td>
						 </tr>
					 </table>
					 <br><br>
				 </div>
			 </div>
			 <!-- _Тип и размер окна -->

	<div id="getprof" class="tooltip tooltip2">
		<span class="tooltip_x"></span>
		<div class="tooltip-inner">
			<div class="form_form">
				<h2 class="first-title section-title">Получить расчет</h2>
				<input id="getprof_num" name="getprof_num" type="hidden" value="0" />
				<input maxlength="255" class="input-text" id="getprof_name" name="name" type="text" placeholder="Ваше имя" />
				<!-- <input maxlength="255" class="input-text" id="getprof_email" name="email" type="text" placeholder="E-mail" /> -->
				<input maxlength="255" class="input-text" id="getprof_phone" name="phone" type="text" placeholder="Телефон" required />
				<button type="submit" class="button_yellow" name="submit" id="sendBtn">ПОЛУЧИТЬ РАСЧЕТ</button>
				<br><br>
				<img src="templates/img/logo.png" width="175" height="">
				<span class="phone">(800) 777-17-69</span>
				<div class="loading"><p><span class="zayvka">Ваша заявка отправлена!</span><br>Наш менеджер свяжется с вами в ближайшее время.</p></div>
			</div>
		</div>
	</div>

	</div>
	<center><p class="raschet">Расчеты:</p></center>
	<div class="resulttotal t10">
		<div class="form1">
			<div class="form2">
				<div class="form3">
					<ul class="form4">
						<li><h4 class="form8">Стоимость отлива: <span class="form5 r1" id="totalotli">0</span></h4></li class="form9"> 
						<li class="form9"><h4 class="form8">Стоимость откоса: <span class="form5 r2" id="totalotkos">0</span></h4></li class="form9"> 
						<li class="form9"><h4 class="form8">Стоимость ламината: <span class="form5 r3" id="totallaminat">0</span></h4></li class="form9"> 
						<li class="form9"><h4 class="form8">Стоимость москитной сетки: <span class="form5 r4" id="totalmaskit">0</span></h4></li class="form9"> 
						<li class="form9"><h4 class="form8">Стоимость подоконник: <span class="form5 r5" id="totalpodok">0</span></h4></li class="form9"> 
					</ul>
				</div>
				<div class="form6">
					<ul class="form7">
						<li class="form9"><h4 class="form8">Стоимость профиля<span class="form5" id="totalprof">0</span></h4></li>
						<li class="form9"><h4 class="form8">Стоимость стёкол: <span class="form5" id="totalsteklo">0</span></h4></li class="form9">
						<li class="form9"><h4 class="form8">Стоимость инсталляции: <span class="form5" id="totalinstall">0</span></h4></li class="form9">
						<li class="form9"><h4 class="form8">Стоимость двери: <span class="form5" id="totaldoor">0</span></h4></li class="form9">
					</ul>
				</div>
			</div><hr>
		</div>
	</div>
	<input name="submbtnnum" id="submbtnnum" type="hidden" value='0'>
	
	<input type="hidden" name="otliv2"  		 id="otliv2" value=""  />
	<input type="hidden" name="otkos2" 			 id="otkos2" value="" />
 	<input type="hidden" name="laminat2" 		 id="laminat2" value="" />
	<input type="hidden" name="moskitnay2"		 id="moskitnay2" value="" />
	<input type="hidden" name="podokonnik2" 	 id="podokonnik2" value="" />
	<input type="hidden" name="itogo2" 			 id="itogo2" value="" />
	<input type="hidden" name="prof2" 			 id="prof2" value="" />
	<input type="hidden" name="stekol2"			 id="stekol2" value="" />
	<input type="hidden" name="instal2" 		 id="instal2" value="" />
	<input type="hidden" name="dvery2" 			 id="dvery2" value="" />
	
	<input type="hidden" name="regul1" 			 id="regul1" value="" />
	<input type="hidden" name="regul2"			 id="regul2" value="" />
	<input type="hidden" name="regul3" 		 	 id="regul3" value="" />
	<input type="hidden" name="regul4" 			 id="regul4" value="" />

	
	</form>
</div>
<script src="templates/js/all.combined-1.0.0.js"></script>
</body>
</html>


