@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'),
  local('Gilroy-Light'),
  url('../fonts/Gilroylight.woff2') format('woff2'),
  url('../fonts/Gilroylight.woff') format('woff'),
  url('../fonts/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'),
  local('Gilroy-Medium'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy SemiBold'),
  local('Gilroy-SemiBold'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'),
  local('Gilroy-ExtraBold'),
  url('../fonts/Gilroyextrabold.woff2') format('woff2'),
  url('../fonts/Gilroyextrabold.woff') format('woff'),
  url('../fonts/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body{
  font-family: 'Gilroy';
  font-size: 14px;
  background:#fff;
}

section{
  position:relative;
  padding: 80px 0;
}

h1 {
  font-size: 46px;
  margin: 0 0 40px;
  font-weight: bold;
}

h1 span{
  color: #4169E1;
  display: block;
}

h2{
  font-size: 40px;
  margin:0 0 20px;
}

.after-h2{
  font-size: px;
  margin:0 0 40px;
}

.navbar-default {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 30px;
  margin-left: -15px;
}

.navbar-brand{
  height: auto;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 100px;
}

.navbar-brand span {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #00a4ef;
}

.navbar-default .navbar-nav>li.phone>a,
.navbar-default .navbar-nav>li.email>a{
  color: #4169E1;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
}

.navbar-default .navbar-nav>li.phone>a:hover,
.navbar-default .navbar-nav>li.email>a:hover{
  text-decoration: underline;
}

.navbar-default .navbar-nav>li.phone,
.navbar-default .navbar-nav>li.email{
  margin-right: 30px;
  padding-top: 10px;
  padding-left: 50px;
}

.navbar-default .navbar-nav>li.phone i,
.navbar-default .navbar-nav>li.email i{
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0px;
  color: #4169E1;
}


header {
  padding: 100px 0;
  text-align: left;
  background: url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1{
  margin-top: 0;
  margin-bottom: 20px;
}

header .after-h1 {
  margin-bottom: 40px;
  font-size: 26px;
  color: #333;
}

header .header-box {
  width: 60%;
}


footer {
  background: #ececec;
  padding: 50px 0;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 21px;
}

.footer-action{
  overflow: hidden;
}

.footer-action .wizard-btn {
  float: left;
  margin-right: 15px;
}

.footer-action .adress {
  display: block;
}

.footer-action .contact a {
  font-size: 20px;
  font-weight: bold;
  color: #4169E1;
}

.copyright {
  margin-top: 20px;
  color: #aba7a7;
}

.copyright a{
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}

a.link-privacy {
  float: right;
  margin-top: 20px;
  color: #aba7a7;
  font-weight: bold;
  text-decoration: underline;
}


@media(max-width: 560px){
  .footer-action .wizard-btn {
    float: none;
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }

  .contact {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  .link-privacy {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .footer-title {
    text-align: center;
  }
}

.modal-header {
  padding: 30px 30px 0;
  border: none;
  text-align: left;
  font-size: 16px;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-body {
  position: relative;
  padding: 20px 30px 30px;
}

.modal-body button.main-btn{
  width: 100%;
}

.modal-body .form-control{
  text-align: center;
}
#modal-thank .after-modal-title {
  margin-bottom: 32px;
  font-size: 16px;
}
button.close {
  font-size: 40px;
  position: absolute;
  top: 23px;
  right: 30px;
  transition: 0.3s all;
  text-shadow: none;
}

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.modal {
  text-align: center;
}

.privacy_text h4 {
  font-weight: 500;
}

.privacy_text p {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media(max-width: 768px){
  .modal-body {
    position: relative;
    padding: 20px;
  }

  .modal-header {
    padding: 30px 20px 0;
    font-size: 14px;
    text-align: center;
  }

  button.close {
    font-size: 30px;
    top: 7px;
    right: 11px;
  }
}


.wizard {
  margin: 20px auto;
  background: #f7f7f7;
  -webkit-box-shadow: 0 3px 40px 0 rgba(0,0,0, .2);
  box-shadow: 0 3px 40px 0 rgba(0,0,0, .2);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Gilroy';
  font-weight: 300;
  position: relative;
}

.wizard h3 {
  margin: 0 0 20px;
  color: #363636;
  font-size: 30px;
  font-weight: 400;
}

.wizard > div.wizard-inner {
  position: relative;
  display: none;
}


.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}


.wizard .nav-tabs > li {
  width: 25%;
}

.left-side-wizard {
  width: 70%;
  float: left;
  padding: 30px 30px 108px;
  height: 605px;
  position: relative;
  background: #fff;
}

.right-side-wizard  {
  width: 30%;
  float: left;
  padding: 30px;
  background: #f7f7f7;
  font-size: 16px;
  position: relative;
}

.wizard-btns {
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
  bottom: 0;
}


.wizard-manager {
  margin-bottom: 30px;
  position: relative;
  padding-left: 130px;
  padding-top: 11px;
  height: 100px;
}

.wizard-manager img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  display: block;
}

.wizard-input {
  font-size: 16px;
  transition: 0.3s all;
  margin-bottom: 0;
  font-weight: 300;
  padding: 12px;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(217,216,230,.55);
  border-radius: 5px;

}
.wizard-input:focus{
  outline: 0;
  border: 1px solid#e497c9;
  box-shadow: 1.7px 5.8px 21px 0 rgba(0,0,0,.07);
}


.wizard-btn {
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  height: 48px;
  -webkit-box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  position: relative;
  overflow: hidden;
  background: #fff;
  transition: 0.6s all;
  color: #5f5f5f;
  font-weight: 400;
  display: inline-block;
  line-height: 28px;
  text-align: center;
}

.wizard-btn:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

.wizard-btn:disabled:hover,
.wizard-btn:disabled:focus{
  background: #fff;
  opacity: 0.7;
}

.wizard-btn:hover,
.wizard-btn:focus{
  outline: 0;
  background: #f5f5f5;

}

.wizard-btn i{
  margin-right: 10px;
}

.wizard-main-btn {
  background-color: #4169E1;
  color: #fff;
}

.wizard-main-btn:hover,
.wizard-main-btn:focus{
  background-color: #ec38ae;
  color: #fff;
  text-decoration: none;
}

.wizard-main-btn .ink.animate {
  opacity: 1;
}
.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
  z-index: 20;
  height: 240px;
  width: 240px;
  top: -5px;
  left: -92px;
}
.animate {
  -webkit-animation: ripple 1.65s linear;
  -moz-animation: ripple 1.65s linear;
  -ms-animation: ripple 1.65s linear;
  -o-animation: ripple 1.65s linear;
  animation: ripple 1.65s linear;
  animation-iteration-count: infinite;
}
@-webkit-keyframes ripple {
  100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
  100% {opacity: 0; -moz-transform: scale(2.5);}
}
@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}

.wizard-copyright {
  padding-left: 60px;
  position: absolute;
  bottom: 30px;
  left: calc(70% + 30px);
  font-size: 14px;
  color: #ccc;
}

.wizard-copyright img {
  position: absolute;
  left: 0;
  width: 46px;
}

.wizard-copyright a {
  color: #b5b5b5;
  font-weight: 500;
}

.wizard-manager-text {
  background: #fff;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  box-shadow: 0 8px 31px 0 rgba(0,0,0,.05);
  position: relative;
}

.wizard-manager-text::after {
  content: '';
  position: absolute;
  left: 37px;
  top: -34px;
  border: 14px solid transparent;
  border-bottom: 20px solid white;
}

.wizard-flex{
  display: flex;
}

.manager-name {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 400;
}




.text-checkbox [type="radio"]:not(:checked),
.text-checkbox [type="radio"]:checked{position:absolute;left:-9999px;}
.text-checkbox [type="radio"]:not(:checked) + label,
.text-checkbox [type="radio"]:not(:checked) + label, .text-checkbox [type="radio"]:not(:checked) + label, .text-checkbox [type="radio"]:checked + label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all;
  margin-bottom: 0;
  font-weight: 300;
  padding: 12px 12px 12px 40px;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(217,216,230,.55);
  border-radius: 3px;
}

.text-checkbox [type="radio"]:not(:checked) + label:before,
.text-checkbox [type="radio"]:checked + label:before{    content: '';
  position: absolute;
  left: 12px;
  top: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: none;
  transition: 0.3s all;
  background: #e8e8e8;
}

.text-checkbox [type="radio"]:checked + label:before {
  background: #ffffff;
  border: 1px solid#4169E1;
}

.text-checkbox [type="radio"]:not(:checked) + label:after, .text-checkbox [type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  font-size: 13px;
  color: #fff;
  transition: all .2s;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 18px;
  background: #4169E1;
  border-radius: 50%;
}
.text-checkbox [type="radio"]:not(:checked) + label:after{opacity:0;transform:scale(0);}
.text-checkbox [type="radio"]:disabled:not(:checked) + label:before,
.text-checkbox [type="radio"]:disabled:checked + label:before{box-shadow:none;border-color:#bbb;background-color:#ddd;}
.text-checkbox [type="radio"]:disabled:checked + label:after{color:#999;}
.text-checkbox [type="radio"]:disabled + label{color:#aaa;}
.text-checkbox [type="radio"]:checked + label {
  border: 1px solid#e497c9;
  box-shadow: 1.7px 5.8px 21px 0 rgba(0,0,0,.07);
}
.text-checkbox label:hover:before {
  background: #ffdef3!important;
}




.main-checkbox [type="radio"]:not(:checked),
.main-checkbox [type="radio"]:checked{position:absolute;left:-9999px;}
.main-checkbox [type="radio"]:not(:checked) + label,
.main-checkbox [type="radio"]:not(:checked) + label, .main-checkbox [type="radio"]:not(:checked) + label, .main-checkbox [type="radio"]:checked + label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all;
  margin-bottom: 0;
  font-weight: 300;
  overflow: hidden;
  display: block;
}

.main-checkbox [type="radio"]:not(:checked) + label:before,
.main-checkbox [type="radio"]:checked + label:before{     content: '';
  position: absolute;
  left: 15px;
  top: 15px;
  width: 36px;
  height: 36px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: none;
  opacity: 0.7;
  transition: 0.3s all}
.main-checkbox [type="radio"]:not(:checked) + label:after, .main-checkbox [type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 13px;
  color: #fff;
  transition: all .2s;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 18px;
  background: #4169E1;
  border-radius: 50%;
}
.main-checkbox [type="radio"]:not(:checked) + label:after{opacity:0;transform:scale(0);}
.main-checkbox [type="radio"]:disabled:not(:checked) + label:before,
.main-checkbox [type="radio"]:disabled:checked + label:before{box-shadow:none;border-color:#bbb;background-color:#ddd;}
.main-checkbox [type="radio"]:disabled:checked + label:after{color:#999;}
.main-checkbox [type="radio"]:disabled + label{color:#aaa;}

.main-checkbox label:hover:before {
  opacity: 1!important;
}

.wizard-box .main-checkbox img {
  margin-bottom: 10px;
}

.wizard-box {
  margin-bottom: 30px;
}

.header-wizard{
  overflow: hidden;
  margin-bottom: 30px;
}

.header-wizard .progress {
  width: 75%;
  float: left;
  border-radius: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #f7f7f7;
  margin: 0;
}

.header-wizard .progress-bar {
  background-color: #4169E1;
  border-radius: 30px;
}

.header-wizard .numeric-quest{
  float: right;
  font-size: 16px;
  color: #cac9c9;
}

.wizard-finish-tab .left-side-wizard {
  width: 100%;
  float: none;
  padding: 60px 30px 30px;
}

.after-h3 {
  color: #7e8ca8;
  font-size: 18px;
  margin-bottom: 30px;
}

.wizard-finish-tab .mdi-check-circle-outline{
  font-size: 55px;
  color: #4169E1;
}

.wizard-finish-tab .wizard-input {
  width: 400px;
  display: block;
  margin: 0 auto 20px;
}
.personal-info {
  color: #aca7c7;
  font-size: 12px;
  width: 350px;
  margin: 20px auto;
}

.wizard-more-mouse {
  position: relative;
  padding-left: 65px;
  padding-top: 5px;
  color: #ccc;
}


.wizard-mouse {
  width: 19px;
  height: 32px;
  background-image: url(../img/wizard-mouse.png);
  background-size: cover;
  position: absolute;
  transform: rotate(-90deg);
  left: 8px;
  top: -2px;
}

.wizard-mouse:before, .wizard-mouse:after {
  content: '';
  position: absolute;
  margin-top: 37px;
  margin-left: 2px;
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  border-left: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  animation-name: arrowAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.wizard-mouse:before {
  margin-top: 28px;
  animation-delay: 0.3s;
}

.wizard-mouse .circle{
  display: block;
  width: 8px;
  height: 8px;
  background: #dcdcdc;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  animation-name: circleAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.owl-dots{
  display: none;
}

.tab-content .wizard-finish-tab.active + .wizard-copyright{
  display: none;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(3px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes circleAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14px);
  }
  100% {
    transform: translateY(0);
  }
}


@media(max-width: 1200px){
  .wizard-manager img {
    width: 80px;
    height: 80px;
  }

  .wizard-manager {
    padding-left: 100px;
    height: 80px;
    padding-top: 7px;
  }

  .manager-status {
    font-size: 14px;
  }
  .manager-name {
    font-size: 17px;
  }

  .wizard-copyright br{
    display: none;
  }

  .wizard-copyright {
    width: 231px;
  }

  header .header-box {
    width: 80%;
  }
  .wizard-manager-text::after {
    left: 25px;
  }

}

@media(max-width: 992px){
  .left-side-wizard {
    width: 100%;
    float: none;
    height: auto;
  }

  .wizard-flex {
    display: block;
  }

  .right-side-wizard {
    width: 100%;
    float: none;
  }

  .manager-status {
    font-size: 16px;
  }

  .manager-name {
    font-size: 19px;
  }

  .wizard-manager {
    padding-top: 16px;
  }

  .main-checkbox [type="radio"]:not(:checked) + label, .main-checkbox [type="radio"]:not(:checked) + label, .main-checkbox [type="radio"]:not(:checked) + label, .main-checkbox [type="radio"]:checked + label {
    display: block;
  }

  .wizard-box .main-checkbox img {
    width: 100%;
  }

  .wizard-finish-tab .left-side-wizard {
    padding: 30px;
  }

  section {
    padding: 50px 0;
  }

  header .header-box {
    width: 100%;
  }

  .wizard-copyright {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 46px;
    background: #f6f6f6;
    padding-left: 90px;
    margin-bottom: 30px;
  }

  .wizard-copyright br{
    display: block;
  }

  .wizard-copyright img {
    left: 30px;
  }


}

@media(max-width: 767px){
  .wizard {
    margin: 15px;
  }

  .header-wizard .progress {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  .header-wizard .numeric-quest {
    float: none;
  }

  .left-side-wizard {
    padding: 30px 15px;
  }

  .right-side-wizard {
    padding: 30px 15px;
  }

  .wizard-manager-text {
    padding: 20px 15px 10px;
  }


  .wizard-manager-text::after {
    left: 24px;
  }

  .wizard-btns {
    position: relative;
    padding: 20px 15px;
    overflow: hidden;
  }

  .wizard-finish-tab .wizard-input {
    width: 100%;
  }

  .personal-info {
    width: 100%;
  }

  .wizard h3 {
    font-size: 26px;
  }

  .left-side-wizard {
    padding: 30px 15px 10px;
  }

  h1 {
    font-size: 28px;
  }

  header .after-h1 {
    font-size: 18px;
  }

  .header-box{
    text-align: center;
  }

  .wizard-copyright {
    padding-left: 75px;
  }

  .wizard-copyright img {
    left: 15px;
  }

  .navbar-default {
    margin-left: 0px;
    text-align: center;
  }

  .navbar-default .navbar-nav>li.phone, .navbar-default .navbar-nav>li.email {
    display: inline-block;
    margin: 0 15px;
    text-align: left;
  }
}


@media(max-width: 560px){
  .wizard .col-xs-6 {
    width: 100%;
  }

  .wizard-btn {
    width: 100%;
    margin: 5px 0;
  }

  .wizard-btns {
    padding: 20px 0px;
  }

  .wizard-manager {
    padding-top: 5px;
  }

  .navbar-default {
    padding-top: 0;
  }

  header .header-box {
    margin-top: 70px;
  }
}

@media(max-width: 320px){
  .after-h3 {
    font-size: 16px;
  }

  .wizard-finish-tab .left-side-wizard {
    padding: 15px;
  }

}

.zagolovok h3{
	margin-top: 0px !important;
}
.pricee{
	background: #f7f7f7;
	-webkit-box-shadow: 0 3px 40px 0 rgba(0,0,0, .2);
	box-shadow: 0 3px 40px 0 rgba(0,0,0, .2);
	border-radius: 10px;
	padding: 40px 20px;
}